:root {
  --neon: #a4d94c;
  --y-green: #c3cb49;
  --lt-orange: #d9a640;
  --orange: #d26632;
  --dark: #7e3c1c;
  --denim: #00334f;
  --lt-denim: #75c8ae;
  --brand-font: "bookman-jf-pro", serif;
  --fancy-font: italic;
  --text: "degular-text", sans-serif;
}
.App {
  text-align: center;
  width: 100%;
}

/* flyer styles */
.flyer {
  width: 100%;
}

.visuals {
  position: relative;
}

.title {
  position:absolute;
  top: 0%;
  margin: 5px 0;
}

.gif-wrapper {
  width: 80%;
  max-width:800px;
  margin: auto;
}

.gif-wrapper img {
  width: 100%;
  object-fit: contain;
}

.marquee {
  width: 100vw;
  overflow: hidden;
  /*background-color: rgba(195, 203, 73, .5);
  background: #fefefe;
  color: #333;
  border: 1px solid #4a4a4a;*/
}

.marquee h1 {
  display: inline-block;
  color: var(--orange);
  margin: 0;
  width: 100%;
  font-family: "Margin", var(--fancy-font);
  font-size: 48px;
  font-weight: 300;
  text-shadow: 0 2px rgba(0, 0, 0, 0.2);
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 10s linear infinite;
  -webkit-animation: scroll-left 10s linear infinite;
  animation: bounce 15s linear infinite;
}

/* flyer info */
.info {
  border: var(--denim) 2px solid;
  font-family: var(--text);
  width: 75%;
  margin: 0 auto 2rem;
  padding: 0 1rem 1rem;
  background-color: var(--lt-denim);
  max-width: 900px;
  color: var(--denim);
}

.info h3 {
  padding-bottom: 5px;
  margin: 1rem 0;
  font-family: var(--brand-font);
  width: 100%;
  color: var(--denim);
  border-bottom: var(--denim) 2px dotted;
}

.info p {
  text-align: left;
}

.info span {
  color: #fff;
}

table {
  margin: 1rem auto;
  padding: 0 10px;
  text-align: left;
  font-family: var(--brand-font);
}

td {
  vertical-align: top;
  padding: 5px 5px 0 0;
}

address {
  font-style: normal;
}

/* form styles */
form {
  border: 2px solid var(--dark);
  width: 75%;
  margin: auto;
  padding: 0 1rem 1rem;
  background-color: var(--lt-orange);
  max-width: 900px;
  font-family: var(--text);
}

form h3 {
  border-bottom: 2px dotted var(--dark);
  padding-bottom: 5px;
  margin: 1rem 0;
  color: var(--dark);
  font-family: var(--brand-font);
}

.formSection {
  margin: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #fff;
  font-family: var(--brand-font);
  font-size: 14px;
}

.formSection input,
.formSection textarea,
.formSection select {
  padding: 5px 0;
  border: none;
  border-bottom: var(--dark) 2px solid;
  background-color: transparent;
  color: var(--dark);
  font-weight: 600;
  font-family: var(--text);
}
.formSection textarea {
  border: #7e3c1c 2px solid;
  padding: 0.2rem;
}

::placeholder {
  color: #fff;
  opacity: 0.7;
}

input:focus,
input::after,
textarea:focus,
select:focus {
  background-color: #d26632;
  outline: none;
}

.btn {
  padding: 0.7rem 1rem;
  border: 2px solid var(--dark);
  background-color: var(--y-green);
  color: var(--dark);
  font-weight: 500;
  font-family: var(--brand-font);
}

.btn:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  background-color: var(--neon);
}

.btn:active {
  transform: translate(0, 2%);
}

.hide {
  display: none;
}

/* animatinos */
@-moz-keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
      -webkit-transform: translateX(100%);
  }
  100% {
      -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
}

@keyframes bounce {
  0% {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
  }
  50% {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
}